.dialogWrapper [role="dialog"] {
    padding: 24px;
}

.toolsContainer {
    margin: 16px 64px 24px 24px;
    display: flex;
    flex-direction: row;
}

.toolDetail {
    margin-left: 30px;
}

.summaryInfobox {
    padding: 24px;
    border: 1px solid #c9e1f5;
    border-radius: 5px;
    background: aliceblue;
    margin-bottom: 24px;
}

.highlightValue {
    font-size: 24px;
    color: #1976d2;
    font-weight: 500;
}

.groupLabel {
    background: #005b94;
    padding: 16px 16px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.toolImg {
    width: 100px;
    height: 100px;
}

.toolType {
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.toolId {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #006cea;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.toolDataRow {
    padding: 4px 8px 4px 8px;
    border-bottom: 1px solid #c9e1f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolData {
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.toolDataValue {
    color: #333;
    text-align: right;
    font-size: 14px;
}

.buttonsContainer {
    background: #fff;
    color: #006cea;
    cursor: pointer;
    > div {
        border: 1px solid #cccccc;
        padding: 8px 12px;
    }
}

.buttonsLink {
    color: #006cea !important;
}

.buttonIcon {
    vertical-align: middle;
    padding-right: 8px;
    margin-top: -1px;
}

.stockCounterContainer {
    align-self: left;
    display: flex;
}

.stockCounter {
    color: #fff;
    padding: 0.2em 0.5em;
    font-weight: bolder;
    border-radius: 0.3em;
    width: 32px;
    height: 24px;
    background-color: #00b464;
}

.stockSlash {
    margin: 1.2em 0em;
    font-weight: 1000;
}

.toolContainer {
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.strategyImage {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 100%;
}

.cuttingDataRow {
    border-top: 1px solid #dee2e6;
    span {
        font-size: 20px;
        line-height: 20px;
        color: #7f7f7f;
    }
}

.toolImgSpinner {
    position: absolute;
    transform: translate(-50%, -50%);
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
