.uploadButton {
  margin-top: 11px;
}

.modelName {
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  margin-bottom: 11px;
  text-overflow: ellipsis;
  text-align: left;
}

.buttonStyle {
  width: 262px;
  height: 40px;
}