@font-face {
    font-family: "Roobert";
    src: "/assets/fonts/Roobert-Regular.ttf" format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roobert PRO";
    font-weight: 400;
}

.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    min-height: 100vh;
}

#root {
  height: 100vh;
  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.processingSpinner {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    z-index: 9999;
}

.backgroundImage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
